# Installing Library

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [ ]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Basic Data Types

In [ ]:
# Integer
integer_var = 10

# Float
float_var = 3.14

# String
string_var = "Hello, World!"

# Boolean
boolean_var = True

# List
list_var = [1, 2, 3, 4, 5]

# Tuple
tuple_var = (1, 2, 3, 4, 5)

# Set
set_var = {1, 2, 3, 4, 5}

# Dictionary
dictionary_var = {'name': 'John', 'age': 30, 'city': 'New York'}

# NoneType
none_var = None

# Print the variables
print("Integer Variable:", integer_var)
print("Float Variable:", float_var)
print("String Variable:", string_var)
print("Boolean Variable:", boolean_var)
print("List Variable:", list_var)
print("Tuple Variable:", tuple_var)
print("Set Variable:", set_var)
print("Dictionary Variable:", dictionary_var)
print("None Variable:", none_var)

Integer Variable: 10
Float Variable: 3.14
String Variable: Hello, World!
Boolean Variable: True
List Variable: [1, 2, 3, 4, 5]
Tuple Variable: (1, 2, 3, 4, 5)
Set Variable: {1, 2, 3, 4, 5}
Dictionary Variable: {'name': 'John', 'age': 30, 'city': 'New York'}
None Variable: None

# Variables, operators, and expressions.

In [ ]:
# Variables
x = 8
y = 4

# Arithmetic Operators
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
modulo = x % y
exponentiation = x ** y

# Expressions
expression1 = (x + y) * (x - y)
expression2 = x ** 2 + 2 * x * y + y ** 2

In [ ]:
print(modulo)

0

# Control Flow

In [ ]:
# If-Else Statements
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

# Loops
# For loop
for i in range(5):
    print(i)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

You are an adult.
0
1
2
3
4
0
1
2
3
4

#Hands-on Exercise

In [ ]:
#program untuk menghitung luas segitiga
a = float(input("Jarak a= "))
b = float(input("Jarak b= "))
c = float(input("Jarak c= "))


#menghitung semi-paramater
s = (a+b+c)/2


#menghitung luas segitiga
area = (s*(s-a)*(s-b)*(s-c))**0.5


print(f"Luas area segitiga adalah {round(area,2)} satuan unit luas")

Jarak a= 3
Jarak b= 5
Jarak c= 6
Luas area segitiga adalah 7.48 satuan unit luas

In [ ]:
#program untuk menghilangkan tanda baca pada sebuah teks
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''


teks = str(input("Masukkan kalimat dengan tanda baca: "))


no_punct = ""
for char in teks:
   if char not in punctuations:
       no_punct = no_punct + char


print(no_punct)

Masukkan kalimat dengan tanda baca: ada koma, ada titik.
ada koma ada titik

In [ ]:
#program untuk cek bilangan prima
num = int(input("Masukkan bilangan= "))


flag = False
if num == 1:
  print(num, "adalah bukan bilangan prima")
elif num > 1:
  for i in range(2,num):
    if num % i == 0:
      flag = True
    break
if flag:
  print(num, "adalah bukan bilangan prima")
else:
  print(num, "adalah bilangan prima")

Masukkan bilangan= 22
22 adalah bukan bilangan prima